div.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 285px;
  width: 180px;
  box-shadow: 0 0 50.6px rgba(228, 183, 255, .1);
  position: relative;
  z-index: 10;
  border-radius: 20px;
  overflow: clip;
  /* transition: 200ms cubic-bezier(0.4, 0, 1, 1); */
}

a.cover {
  position: relative;
  text-decoration: none;
  font-family: Quicksand;
  color: #fefefe;
  width: fit-content;
  display: block;
  opacity: 0;
  transform: scale(.9);
  animation: display linear forwards;
  animation-timeline: view();
  animation-range: entry -25px;
}

@keyframes display {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* a.cover:hover{
  transform: scale(1.1);
} */

div.card > div.image {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(12, 1, 15, 1) 87.16665506362915%, rgba(7, 0, 9, 1) 100%)
}

/* div.card:hover {
  z-index: 100000;
  transform: scale(1.04);
} */

div.hover-info {
  position: absolute;
  left: calc(100% + 30px);
  top: 0;
  z-index: 99999;
  display: none;
}

/* div.card:hover + div.hover-info {
  display: flex;
} */

div.card > div.image img {
  background: var(--accent-color);
  width: 100%;
  position: relative;
  z-index: -1;
}

div.card div.content {
  position: absolute;
  bottom: 0;
  padding: 0 14px 12px 12px;
  display: flex;
  width: 100%;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 -20px 30px rgba(12, 1, 15, 1);
}

div.card div.title-rating-genre {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.card div.title-rating {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

div.card div.title-rating p.title {
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
}

div.card div.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 11px; */
}

div.card div.rating .star {
  height: 10.5px;
}

div.card div.rating span {
  font-size: 10.5px;
}

div.card div.type-genre {
  font-size: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

div.card p.type {
  font-weight: 500;
  color: #e3e3e3;
}

div.card p.genre {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f3e7ff;
}

div.card div.headings {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

div.card div.headings p.heading {
  font-weight: 500;
  font-size: 14.6px;
}

div.card p.desc {
  font-size: 8.9px;
  line-height: 145%;
  width: 90%;
}

@media (max-width: 820px) {
  div.card {
    width: 156px;
    height: 250px;
  }
}